In [0]:
import pandas as pd
import numpy as np

In [0]:
train=pd.read_csv("train.csv")

In [0]:
test=pd.read_csv("test.csv")

In [0]:
#removing Nan if any
train=train.dropna()
test=test.dropna()

In [5]:
train.head()

      x          y
0  24.0  21.549452
1  50.0  47.464463
2  15.0  17.218656
3  38.0  36.586398
4  87.0  87.288984

In [6]:
test.head()

    x          y
0  77  79.775152
1  21  23.177279
2  22  25.609262
3  20  17.857388
4  36  41.849864

In [0]:
train=np.array(train)

In [0]:
test=np.array(test)

In [9]:
train[0]

array([24.        , 21.54945196])

In [10]:
test[0]

array([77.        , 79.77515201])

In [0]:
x_mean=np.mean(train[:,0])

In [0]:
y_mean=np.mean(train[:,1])

In [0]:
A=train[:,0]-x_mean

In [0]:
B=train[:,1]-y_mean

In [0]:
cov=np.mean(A*B)

In [0]:
var=np.mean(A*A)

In [0]:
slope=cov/var

In [0]:
con=y_mean-slope*x_mean

In [0]:
y_pred=slope*test[:,0]+con

In [0]:
from sklearn.metrics import r2_score,mean_squared_error

In [21]:
print("Mean squaed error ",mean_squared_error(test[:,1],y_pred))

Mean squaed error  9.43292219203931

In [22]:
print("r2 score ",r2_score(test[:,1],y_pred))

r2 score  0.9888014444327563